@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default;
}

@theme {
  /* Google Font */
  --font-Poppins: "Poppins", "sans-serif";

  /* Breakpoints */
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-xxl: 1400px;

  /* =========== Colors =========== */
  --color-theme-primary: #00A3FF;
  --color-page-bg: #FFFFFF;
  --color-content-bg: #F9F9F9;
  --color-text-muted: #99A1B7;

  /* Dark */
  --color-dark-01: #F9F9F9;
  --color-dark-02: #F1F1F2;
  --color-dark-03: #DBDFE9;
  --color-dark-04: #B5B5C3;
  --color-dark-05: #99A1B7;
  --color-dark-06: #78829D;
  --color-dark-07: #78829D;
  --color-dark-08: #252F4A;
  --color-dark-09: #071437;

  /* Shadow (for button hover)*/
  --shadow-btn-inner: inset 0px 0px 122px rgba(0, 0, 0, 0.22);

  --animate-rotate: rotate 11.3s linear infinite;
  --animate-scroll: scroll 30s linear infinite;

  @keyframes rotate {
    0% {
      transform: rotate(0);
    }

    100% {
      transform: rotate(360deg)
    }
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-100%);
    }
  }
}

/* [ General ] */
/*================================================== */

/*** Common CSS ***/
html,
body {
  @apply scroll-smooth;
}

body {
  @apply font-Poppins bg-page-bg text-base text-dark-06 font-normal relative overflow-x-hidden;
}

p {
  @apply leading-[1.8];
}

::selection {
  @apply text-dark-09 bg-theme-primary;
}

.container {
  @apply mx-auto sm:max-w-[540px] md:max-w-[720px] lg:max-w-[960px] xl:max-w-[1140px] xxl:max-w-[1320px] px-3;
}

/* [ General ] */
/*================================================== */
.button {
  @apply text-base font-medium py-3 lg:py-4 px-7 lg:px-8 border rounded-md duration-300 cursor-pointer;
}

.button-fill {
  @apply bg-theme-primary text-white hover:shadow-btn-inner;
}

.button-outline {
  @apply bg-white border-dark-03 text-dark-09 hover:border-dark-09 hover:bg-dark-09 hover:text-white;
}

/* [ Header ] */
/*================================================== */
/* Top Header */
.top-header ul li {
  @apply flex items-center gap-1.5;
}

.top-header .social-icons li a:hover {
  @apply text-theme-primary;
}

/* Bottom Header */
.main-menu {
  @apply flex justify-center
}

.main-menu a {
  @apply flex items-center justify-center h-auto lg:h-[70px] py-2 lg:py-0 px-0 lg:px-4 font-medium hover:text-theme-primary duration-300;
}

.main-menu a.active {
  @apply text-theme-primary relative before:content-none lg:before:content-[''] before:w-[90%] before:h-0.5 before:absolute before:-translate-x-[50%] before:left-[50%] before:mt-6 before:bg-linear-to-r before:from-theme-primary/0 before:via-theme-primary before:to-theme-primary/0;
}

.hero-slider-content .hero-image {
  @apply w-[558px] h-[558px]
}

.hero-image img {
  @apply w-[88%];
}

@media (max-width: 1399px) and (min-width: 1200px) {

  .hero-slider-content .hero-image {
    width: 488px;
    height: 488px;
  }

  .hero-image svg {
    width: 468px;
    height: 468px;
  }

  /* .hero-image img {
    width: 68%;
  } */
}

@media (max-width:1200px) and (min-width: 992px) {
  .hero-slider-content .hero-image {
    width: 458px;
    height: 458px;
  }

  .hero-image svg {
    width: 436px;
    height: 436px;
  }

  /* .hero-image img {
    width: 68%;
  } */
}

@media screen and (max-width:600px) {

  .hero-slider-content .hero-image {
    width: 388px;
    height: 388px;
  }

  .hero-image svg {
    width: 366px;
    height: 366px;
  }

  /* .hero-image img {
    width: 68%;
  } */
}

@media screen and (max-width:392px) {

  .hero-slider-content .hero-image {
    width: 358px;
    height: 358px;
  }

  .hero-image svg {
    width: 336px;
    height: 336px;
  }

  /* .hero-image img {
    width: 68%;
  } */
}

@media screen and (max-width:376px) {

  .hero-slider-content .hero-image {
    width: 338px;
    height: 338px;
  }

  .hero-image svg {
    width: 316px;
    height: 316px;
  }

  /* .hero-image img {
    width: 68%;
  } */
}

@media screen and (max-width:348px) {

  .hero-slider-content .hero-image {
    width: 318px;
    height: 318px;
  }

  .hero-image svg {
    width: 296px;
    height: 296px;
  }

  /* .hero-image img {
    width: 68%;
  } */
}

.rfm-marquee-container,
.rfm-initial-child-container,
.rfm-marquee {
  @apply flex gap-11 md:gap-20
}

.rfm-marquee img {
  @apply w-[100px] md:w-auto
}