@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default;
}

@theme {
  /* Google Font */
  --font-Poppins: "Poppins", "sans-serif";

  /* Breakpoints */
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-xxl: 1400px;

  /* =========== Colors =========== */
  --color-theme-primary: #00A3FF;
  --color-page-bg: #FFFFFF;
  --color-content-bg: #F9F9F9;
  --color-text-muted: #99A1B7;

  /* Dark */
  --color-dark-01: #F9F9F9;
  --color-dark-02: #F1F1F2;
  --color-dark-03: #DBDFE9;
  --color-dark-04: #B5B5C3;
  --color-dark-05: #99A1B7;
  --color-dark-06: #78829D;
  --color-dark-07: #78829D;
  --color-dark-08: #252F4A;
  --color-dark-09: #071437;

  /* Shadow (for button hover)*/
  --shadow-btn-inner: inset 0px 0px 122px rgba(0, 0, 0, 0.22);

  --animate-rotate: rotate 11.3s linear infinite;
  --animate-scroll: scroll 30s linear infinite;
  --animate-move1: move1 3s infinite linear;

  @keyframes rotate {
    0% {
      transform: rotate(0);
    }

    100% {
      transform: rotate(360deg)
    }
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-100%);
    }
  }

  @keyframes move1 {
    0% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-24px);
    }

    100% {
      transform: translateY(0);
    }
  }
}

/* [ General ] */
/*================================================== */

/*** Common CSS ***/
html,
body {
  @apply scroll-smooth;
}

body {
  @apply font-Poppins bg-page-bg text-base text-dark-06 font-normal relative overflow-x-hidden;
}

p {
  @apply leading-[1.8];
}

::selection {
  @apply text-dark-09 bg-theme-primary;
}

.container {
  @apply mx-auto sm:max-w-[540px] md:max-w-[720px] lg:max-w-[960px] xl:max-w-[1140px] xxl:max-w-[1320px] px-3;
}

.form-label {
  @apply inline-block text-sm mb-2;
}

.form-field {
  @apply w-full rounded-md py-3.5 px-4 text-dark-06 bg-white focus:outline-0 border border-dark-03 focus:border-theme-primary;
}

.form-field-error {
  @apply border-red-500 text-red-500 focus:border-red-500;
}

/* .sign-in-with {
  @apply absolute h-px bg-red-200 top-[50%] -translate-[50%];
} */

table th {
  @apply text-dark-08;
}

/* [ Button ] */
/*================================================== */
.button {
  @apply text-base font-medium py-3 lg:py-4 px-7 lg:px-8 border rounded-md duration-300 cursor-pointer;
}

.button-fill {
  @apply bg-theme-primary text-white hover:shadow-btn-inner disabled:shadow-btn-inner disabled:cursor-default;
}

.button-outline {
  @apply bg-white border-dark-03 text-dark-09 hover:border-dark-09 hover:bg-dark-09 hover:text-white;
}

.edit-btn {
  @apply text-[16px] w-[35px] h-[35px] flex justify-center items-center rounded-sm border border-amber-400 text-amber-400 hover:bg-amber-400 hover:text-white duration-300 cursor-pointer;
}

.delete-btn {
  @apply text-[15px] w-[35px] h-[35px] flex justify-center items-center rounded-sm border border-red-500 text-red-500 hover:bg-red-500 hover:text-white duration-300 cursor-pointer;
}

.view-btn {
  @apply text-[17px] w-[35px] h-[35px] flex justify-center items-center rounded-sm border border-blue-500 text-blue-500 hover:bg-blue-500 hover:text-white duration-300 cursor-pointer;
}

.approve-btn {
  @apply text-[17px] w-[35px] h-[35px] flex justify-center items-center rounded-sm border border-green-500 text-green-500 hover:bg-green-500 hover:text-white duration-300 cursor-pointer;
}

.reject-btn {
  @apply text-[17px] w-[35px] h-[35px] flex justify-center items-center rounded-sm border border-red-500 text-red-500 hover:bg-red-500 hover:text-white duration-300 cursor-pointer;
}

/* [ Status BTN ] */
/*================================================== */
.status-pending {
  @apply text-[12px] flex items-center gap-1 text-amber-600 rounded-sm border border-amber-400 bg-amber-100 w-fit py-1 px-2
}

.status-approved {
  @apply text-[12px] flex items-center gap-1 text-green-600 rounded-sm border border-green-400 bg-green-100 w-fit py-1 px-2
}

.status-reject {
  @apply text-[12px] flex items-center gap-1 text-red-500 rounded-sm border border-red-400 bg-red-100 w-fit py-1 px-2
}

.status-closed {
  @apply text-[12px] flex items-center gap-1 text-violet-500 rounded-sm border border-violet-400 bg-violet-100 w-fit py-1 px-2
}

/* [ Header ] */
/*================================================== */
/* Top Header */
.top-header ul li {
  @apply flex items-center gap-1.5;
}

.top-header .social-icons li a:hover {
  @apply text-theme-primary;
}

/* Bottom Header */
.main-menu {
  @apply flex justify-center
}

.main-menu a {
  @apply flex items-center justify-center h-auto lg:h-[70px] py-2 lg:py-0 px-0 lg:px-4 font-medium hover:text-theme-primary duration-300;
}

.main-menu a.active {
  @apply text-theme-primary relative before:content-none lg:before:content-[''] before:w-[90%] before:h-0.5 before:absolute before:-translate-x-[50%] before:left-[50%] before:mt-6 before:bg-linear-to-r before:from-theme-primary/0 before:via-theme-primary before:to-theme-primary/0;
}

.hero-slider-content .hero-image {
  @apply w-[558px] h-[558px]
}

.hero-image img {
  @apply w-[88%];
}

@media (max-width: 1399px) and (min-width: 1200px) {

  .hero-slider-content .hero-image {
    width: 488px;
    height: 488px;
  }

  .hero-image svg {
    width: 468px;
    height: 468px;
  }
}

@media (max-width:1200px) and (min-width: 992px) {
  .hero-slider-content .hero-image {
    width: 458px;
    height: 458px;
  }

  .hero-image svg {
    width: 436px;
    height: 436px;
  }
}

@media screen and (max-width:600px) {

  .hero-slider-content .hero-image {
    width: 388px;
    height: 388px;
  }

  .hero-image svg {
    width: 366px;
    height: 366px;
  }
}

@media screen and (max-width:392px) {

  .hero-slider-content .hero-image {
    width: 358px;
    height: 358px;
  }

  .hero-image svg {
    width: 336px;
    height: 336px;
  }
}

@media screen and (max-width:376px) {

  .hero-slider-content .hero-image {
    width: 338px;
    height: 338px;
  }

  .hero-image svg {
    width: 316px;
    height: 316px;
  }
}

@media screen and (max-width:348px) {

  .hero-slider-content .hero-image {
    width: 318px;
    height: 318px;
  }

  .hero-image svg {
    width: 296px;
    height: 296px;
  }
}

.rfm-marquee-container,
.rfm-initial-child-container,
.rfm-marquee {
  @apply flex gap-11 md:gap-20
}

.rfm-marquee img {
  @apply w-[100px] md:w-auto
}

.stop-color-1 {
  stop-color: #00A3FF;
}

.stop-color-2 {
  stop-color: #fff;
}

/* [ Header ] */
/*================================================== */

.side-nav ul a {
  @apply px-4 py-4 rounded-md hover:text-theme-primary duration-300;
}

.side-nav ul a.active {
  @apply bg-content-bg text-theme-primary;
}

/* [ Blog ] */
/*================================================== */
.blog-meta li {
  @apply inline-block
}

.blog-meta li:not(:last-child):after {
  @apply content-[''] ml-4 mr-4 inline-block w-1 h-1 rounded-full bg-dark-03 align-middle;
}